<div class="page-header">
    <h1>{{main.username}}'s Profile</h1>
</div>
<div class="panel panel-info">
    <div class="panel-heading" style="text-align:center; "><strong>User's Profile</strong></div>
<table class="table">
    <tr>
        <td><strong>Username</strong></td>
        <td><strong>Email</strong></td>
        <td><strong>Password</strong></td>
    </tr>
    <tr>
        <td>{{main.username}}</td>
        <td>{{main.useremail}}</td>
        <td>{{main.password}}</td>
    </tr>
</table>
</div>